<configuration>
  <include resource="included-console.xml"/>

  <logger level="DEBUG" name="com.github.anddd7"/>
  <logger level="INFO" name="org.hibernate.SQL"/>
  <logger level="INFO" name="org.hibernate.type.descriptor.sql.BasicBinder"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
