[submodule "kotlin-spring-webflux-template"]
	path = kotlin-spring-webflux-template
	url = git@github.com:Anddd7/kotlin-spring-webflux-template.git
[submodule "kotlin-spring-webflux-ddd-template"]
	path = kotlin-spring-webflux-ddd-template
	url = git@github.com:Anddd7/kotlin-spring-webflux-ddd-template.git
[submodule "kotlin-spring-template"]
	path = kotlin-spring-template
	url = git@github.com:Anddd7/kotlin-spring-template.git
[submodule "kotlin-spring-ddd-template"]
	path = kotlin-spring-ddd-template
	url = git@github.com:Anddd7/kotlin-spring-ddd-template.git
[submodule "spring-performance-benchmark"]
	path = spring-performance-benchmark
	url = git@github.com:Anddd7/spring-performance-benchmark.git
[submodule "kotlin-vertx-template"]
	path = kotlin-vertx-template
	url = ./kotlin-vertx-template
