<configuration>
  <include resource="logback-console.xml"/>
  <include resource="logback-elk.xml"/>

  <springProfile name="local,test">
    <logger level="DEBUG" name="com.github.anddd7"/>

    <root level="INFO">
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>

  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="ELK"/>
    </root>
  </springProfile>
</configuration>
